body,
ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
}


ul li {
    list-style: none;
}

/* Common class. */
.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.font-b {
    font-family: ProximaNovaBold;
}



/* Font face */
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../font/Proxima/ProximaNova-Regular.woff2') format('woff2'),
        url('../font/Proxima/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../font/Proxima/ProximaNova-Bold.woff2') format('woff2'),
        url('../font/Proxima/ProximaNova-Bold.woff') format('woff');
}

body {
    font-family: ProximaNovaRegular Arial, Helvetica, sans-serif;
}


/* Header section */
.header {
    width: 105%;
    height: 50px;
    background: black;
}

.header .row {
    height: 100%;
}


.header-menu-list {
    display: flex;
}

.header-menu-list .nav-link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.header-menu-list .nav-link.support-us {
    display: flex;
    align-items: center;
}

.support-us-text {
    margin-left: 10px;
}

.header-menu-list .header-menu-item:not(:last-child) {
    margin-right: 20px;
}

/* Search section */

body {
    background-color: #ececec;
    position: relative;
    width: 1280px;
    height: 1433px;
}

.input-group {
    width: 100%;
    padding: 16px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.search-btn {
    width: 1330px;
    height: 45px;
    top: 78px;
    font-size: 20px;
    font-style: normal;
    background: #ffffff;
    border: #ecebed solid 2px;
    padding: 12px 20px 12px 40px;
    font-weight: 500;
}

.input-group-btn {
    background: #5A99C1;
    border-radius: 1px 5px 5px 1px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.btn-default {
    color: white;
    background: #5A99C1;
    font-size: 16px;
    padding: 5px 12px 5px 13px;
    margin: 3px 2px 1px;
    height: 35px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
}

.glyphicon-search {
    font-style: normal;
    font-weight: bold;
    padding: 5px 4px 5px;
}

.search-icon {
    font-size: 16px;
    margin: 0;
    left: 40px;
    position: absolute;
    top: 92px;
    padding: 0px 1px 2px 2px;
}


.shape-icon {
    font-size: 16px;
    position: absolute;
    right: 65px;
    top: 94px;
}

.cities {
    position: absolute;
    margin-left: 3.3%;
    top: 8.4%;
    font-weight: 500;
}

.note {
    position: absolute;
    right: 1.2%;
    top: 8.4%;
}