body {
    background-color: #E5E5E5;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}


ul li {
    list-style: none;
}

/* Common class. */
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.font-b {
    font-family: ProximaNovaBold;
}



/* Font face */
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../font/Proxima/ProximaNova-Regular.woff2') format('woff2'),
        url('../font/Proxima/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../font/Proxima/ProximaNova-Bold.woff2') format('woff2'),
        url('../font/Proxima/ProximaNova-Bold.woff') format('woff');
}

body {
    font-family: ProximaNovaRegular Arial, Helvetica, sans-serif;
}


/* Header section */
.header {
    width: 100%;
    height: 50px;
    background: black;
}

.header .row {
    height: 100%;
}


.header-menu-list {
    display: flex;
}

.header-menu-list .nav-link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.header-menu-list .nav-link.support-us {
    display: flex;
    align-items: center;
}

.support-us-text {
    margin-left: 10px;
}

.header-menu-list .header-menu-item:not(:last-child) {
    margin-right: 20px;
}

/* Search section */
.section-search {
    height: 40px;
    padding-top: 26px;
    display: flex;
}

.search-section {
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
}

.search-btn {
    color: white;
    background-color: #5A99C1;
    padding-left: 33px;
    padding-right: 33px;
    border: none;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
}

.search-icon,
.search-clear {
    display: flex;
    padding-left: 14px;
    padding-right: 14px;
}

.footer {
    font-family: sans-serif;
    padding-left: 14px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}

.cities {
    color: #1F1C1C;
    padding: 4px;
    text-decoration-line: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-left: 16px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/*-------img-------*/
.img-section {
    display: flex;
    position: absolute;
}

.images-box {
    position: relative;
    max-width: 400px;
    width: 100%;
}

.images-box:not(:first-child) {
    margin-left: 20px;
}

.images-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.wrapper {
    font-size: 48px;
    line-height: 45px;
    margin-bottom: 15px;
}