body,
ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
}


ul li {
    list-style: none;
}

/* Common class. */
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.font-b {
    font-family: ProximaNovaBold;
}



/* Font face */
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../font/Proxima/ProximaNova-Regular.woff2') format('woff2'),
        url('../font/Proxima/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../font/Proxima/ProximaNova-Bold.woff2') format('woff2'),
        url('../font/Proxima/ProximaNova-Bold.woff') format('woff');
}

body {
    font-family: ProximaNovaRegular Arial, Helvetica, sans-serif;
}


/* Header section */
.header {
    width: 100%;
    height: 50px;
    background: black;
}

.header .row {
    height: 100%;
}


.header-menu-list {
    display: flex;
}

.header-menu-list .nav-link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.header-menu-list .nav-link.support-us {
    display: flex;
    align-items: center;
}

.support-us-text {
    margin-left: 10px;
}

.header-menu-list .header-menu-item:not(:last-child) {
    margin-right: 20px;
}

/* Search section */
body {
    background-color: #E5E5E5;
}

.input-group {
    padding: 16px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

input[type=text] {
    width: 1230px;
    height: 42px;
    top: 70px;
    font-size: 20px;
    font-style: oblique;
    background: #ffffff;
    border: #ecebed solid 2px;
    padding: 12px 20px 12px 40px;
}

.input-group-btn {
    background: #5A99C1;
    border-radius: 1px 5px 5px 1px;
    display: flex;
    align-items: center;
}

.btn-default {
    color: white;
    background: #5A99C1;
    font-size: 16px;
    padding: 5px 12px 5px 13px;
    margin: 3px 2px 1px;
    height: 38px;
    border: 0;
    color: #ffffff;
}

.glyphicon-search {
    font-style: normal;
    font-weight: bold;
    padding: 5px 4px 5px;
}

.search-icon {
    margin: 0;
    padding: 0;
    left: 2.9%;
    position: absolute;
    top: 14.2%;
}

.shape-icon {
    position: absolute;
    left: 90.25%;
    top: 13.7%;
    padding: 2px 0px 2px 2px;
}

.cities {
    position: absolute;
    margin-left: 2.2%;
    top:18.2%;
}

.note {
    position: absolute;
    left: 90.25%;
    top:18.2%;
}